APP_NAME=NESTJS
# App Environment
NODE_ENV=development
PORT=3000

# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Bcrypt
BCRYPT_SALT=

# JWT (for login/auth)
JWT_SECRET=
JWT_EXPIRES_IN=

# Optional: Logging / Sentry / Monitoring
SENTRY_DSN=
LOG_LEVEL=